.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    
}
.modal.open{
    display: flex;
}
.modal .container1{
width: 1000px;
max-width: calc(100%-32px);
min-height: 200px;
background: #fff;
position: relative;
animation: modalFadeIn ease 0.5s;
border-radius: 30px;
overflow: hidden;
}

.modal-header {
    font-size: 30px;
    color: #fff;
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 8px 10px;
    opacity: 0.8;
    font-size: 26px;
    border-radius: 30px;
    margin: 5px;
}
.modal-close:hover{
    opacity: 1;
    /* background: #b76464; */
    font-size: 30px;
    color: rgb(111, 0, 0);
}


.header-bag {
    padding-right: 15px;
}

.modal-body {
    padding: 16px;
}
.modal-body .border-primary{
    height: calc(100% - 24px) ;
}
.modal .item-change{
    height: 50px;
}
.modal-label {
    /* display: block; */
    max-height: 100%;
    font-size: 15px;
    align-items: center;
    display: flex;
    margin: 0;
}


.modal-input {
    padding: 8px 0;
    margin-bottom: 24px;
    /* width: 100%; */
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    margin: 0;
}

.buy-tickets {
    width: 100%;
    padding: 18px 0;
    background: #009688;
    color: #fff;
    border: 1px solid #fff;
}

.buy-tickets:hover {
    background: #ccc;
}


.modal-help {
    padding: 17px;
    text-align: right;
}
.hidden{
    display: none;
}
.show{
    display: flex;
}
.no-padding{
    padding: 0;
}
