.document .row{
    /* display: block; */
    /* display: flex; */
    /* width: 100%; */
    margin: 0;
}
.table-data-container {
    max-height: 80vh;
}
.view-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.view-file-icon{
    max-height: 40px;
    max-width: 40px;
}
.view-file-icon img {
    max-width: 40px; 
    max-height: 40px;
    object-fit: contain;
    cursor: pointer;
  }
.view-path{
    /* display: flex; */
    display: none;
    /* position: absolute; */
    /* padding: 3px; */
    font-size: 10px;
    /* background-color: black;
    color: aliceblue; */
    /* justify-content: left; */
    /* text-align: left; */
    border-radius: 3px;
    /* top: 0px; */
    /* left: calc(50% + 8px); */
    position: relative;
}
.view-path-path{
    position: absolute;
    top: -15px;
    /* left: calc(0px- var(--element-width)); */
    left: -600px;
    padding: 5px;
    /* text-align: right ; */
    color: aliceblue;
    background-color: rgb(30, 30, 30);
    font-size: 12px;
    border-radius: 2px;
    z-index: 100;
}
.fileNameInput{
    padding: 10px 0px;
}
.file-inputFile{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 50px; */
    color: #2986b6;
    cursor: pointer;

}
.file-inputFile .fa-solid{
    font-size: 30px;
}
.file-inputFile-select{
    display: flex;
    justify-content: center;
    height: 100px;
}
.view-image:hover .view-path{
    display: flex;
}
.table tr:hover .view-path{
    display: flex;
  }
  .table td:hover {
   
  }