.layoutContainer{
  width: 225px;
    height: 100vh;
    /* z-index: 1038; */
    background-color: #212529;;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* User table Begin */
.UserContainer, .row{
  display: flex;
  width: 100%;
  height: 100%;
}
#table-container {
  /* width: 130vh; */

  padding-left: 10px;
  padding-top: 60px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

.table th,
.table td {
  border: 1px solid #ddd; /* Màu sắc và định dạng cho các đường viền */
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2; /* Màu nền cho các ô tiêu đề */
}
.border-primary{
  border-color: #cbd4dc !important;
}
.btn-table{
  align-items:center;
  justify-items: right;
}
/* User table end */