.layoutContainer{
  position: sticky;
  top: 0;
  width: 230px;
    height: 100vh;
    background-color: #212529;;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* User table Begin */
.UserContainer, .UserContainer-block{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: cursive;
}
#table-container {
  width: 85vh;

  padding-left: 10px;
  padding-top: 60px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}
.table th,
.table td {
  border: 1px solid #ddd; /* Màu sắc và định dạng cho các đường viền */
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2; /* Màu nền cho các ô tiêu đề */
}
.border-primary{
  border-color: #cbd4dc !important;
}
.btn-table{
  align-items:center;
  justify-items: right;
}
.table-data-container {
  max-height: 60vh; /* Đặt chiều cao tối đa cho bảng */
  /* display: flex; */
  overflow-y: auto; /* Tạo thanh cuộn dọc khi cần */
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
.table tr:hover {
  background-color: #f2f2f2; /* Màu nền khi hover */
}
.table td:hover {
  background-color: #c1bfbf; /* Màu nền khi ô được chọn */
}
.table tr:hover .circle-status {
  display: block;/* Màu nền khi ô được chọn */
}
.table-header {
  position: sticky;
  top: -2px;
  z-index: 1;
  background-color: #fff; /* Màu nền cho tiêu đề */
  
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
/* User table end */

.circle-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-view{
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  margin: 1px;
  display: flex;
  position: relative;
  /* z-index: 1000; */
}
.circle-blue{
  background-color: rgb(0 145 0);
}
.circle-red{
  background-color: rgb(255, 0, 13); 
}
.circle-status{
  position: absolute;
  padding: 2px 12px;
  border-radius: 3px;
  left: -80px;
  margin-top: -10px;
  display: none;
}
.circle-status-on{
  background-color:rgb(0 145 0) ;
  color: #fff;

}
.circle-status-off{
  background-color: rgb(255, 0, 13); 
  color: #fff;

}

.circle-view:hover .circle-status{
  display: block;
}

@media only screen and (max-width: 900px) {
  .UserContainer, .UserContainer-block {
    font-size: 10px; 
    flex-direction: column;
    font-family: "Gill Sans", sans-serif;
  }

  h1{
    font-size: 20px !important;
  }
  h4, .btn{
    font-size: 14px;
  }
  .layoutContainer{
    display: inline-block !important;
    width: 100vw;
    min-height: 100px;
    max-height: 135px;
    position: inherit;
  }
  .sb-sidenav{
    /* flex-direction: row !important; */
    width: 100% !important;
    position: relative;
  }
  .menuSide-nav{
    flex-direction: row !important;
    justify-content: space-between !important;
    margin: 0;
  }
  .menuSide-nav li{
    height: 100% !important;
    
  }
  #table-container{
    padding-top: 10px;
    width: 100%;
  }
  .menuSide-footer{
    display: none;
  }
  .view-file-icon img {
    height: 20px !important;
    width:  20px !important;
  }
  .col-8{
    padding: 0 0 0 5px;
  }
  .col-4{
    padding: 0;
  }
  .card-body ,.circle-container{
    padding: 0px;
  }
  .circle-view{
    height: 10px;
    width: 10px;
  }



  /* Modal */
  .modal .container1{
    width: 90% !important;
  }

  .modal-header{
    font-size: 20px !important;
    height: 80px !important;
  }
  .modal-body{
    padding: 5px !important;
  }
  .modal-body .row{
    margin: 0 !important;
    width: 100%;
  }
  .modal-body-row{
    padding: 3px;
  }
  .modal-label{
    padding: 0 !important;
    font-size: 10px !important;
    display: inline-block;
  }
  .modal-input{
    padding: 5px 1px !important;
    border-radius: 5px;
  }
  .modal .item-change{
    height: 30px !important;
  }
  .card-title{
    font-size: 13px;
  }
  .no-padding{
    font-size: 10px;
  }
}


@media only screen and (max-width: 300px) {
  .layoutContainer{
    display: none !important;
  }

}


