.layoutContainer{
  position: sticky;
  top: 0;
  width: 225px;
    height: 100vh;
    background-color: #212529;;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* User table Begin */
.UserContainer, .UserContainer-block{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}
#table-container {
  width: 85vh;

  padding-left: 10px;
  padding-top: 60px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}
.table th,
.table td {
  border: 1px solid #ddd; /* Màu sắc và định dạng cho các đường viền */
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2; /* Màu nền cho các ô tiêu đề */
}
.border-primary{
  border-color: #cbd4dc !important;
}
.btn-table{
  align-items:center;
  justify-items: right;
}
.table-data-container {
  max-height: 60vh; /* Đặt chiều cao tối đa cho bảng */
  /* display: flex; */
  overflow-y: auto; /* Tạo thanh cuộn dọc khi cần */
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
.table tr:hover {
  background-color: #f2f2f2; /* Màu nền khi hover */
}
.table td:hover {
  background-color: #f8b826; /* Màu nền khi ô được chọn */
}

.table-header {
  position: sticky;
  top: -2px;
  z-index: 1;
  background-color: #fff; /* Màu nền cho tiêu đề */
  
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
/* User table end */

.circle-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-view{
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  margin: 1px;
}
.circle-blue{
  background-color: blue; 
}
.circle-red{
  background-color: rgb(255, 0, 13); 
}


